* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url(https://cdn2.vectorstock.com/i/1000x1000/23/16/a-dinosaur-on-nature-frame-vector-23972316.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0rem;
    overflow: hidden;
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
}

#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: right center;
}

